<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorDominoes</title>
  <link rel="stylesheet" href="../public/style1.css" type="text/css">
  <link rel="icon" href="../public/Images/favicon.ico" type="image/x-icon">
  <meta name="description" content="The nearly impossible dominoes and word game where the goal is to achieve Word Domination. Makes Scrabble and any other word game seem like child’s play. ">
</head>

<body>
  <nav>
    <!-- help button -->
    <div class="help nav-link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg></div>
    <div class="title">
      <h1>WorDominoes</h1>
    </div>
    <!-- statistics button -->
    <div class="stats nav-link"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"  stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
      </svg></div>

  </nav>
  <div class="statsContainer">
  <div class="statsContent" hidden>
    <div class="close">
      <button class="closeButtonStats">X</button>
    </div>
    <div class="statsText">
      <h2>WorDominoes Stats</h2><br>
      <p class="scoresStats"></p>
      <br />
    </div>
  </div>
</div>
  <div class="helpContainer">
  <div class="helpContent" hidden>
    <div class="close">
      <button class="closeButtonHelp">X</button>
    </div>
    <div class="helpText">
      <h2 class="about">About WorDominoes</h2>
      <br/>
      <div class="description">
       <p>Congratulations for choosing WorDominoes. It is truly an excellent game to play. Difficult and excellent at the same time (depending on how you define excellent).</p>
       <br/>
<p>The goal is (obviously) to achieve WorDomination. You can do this by completing all the tiles of the dominoes grid. But it is difficult. You will not only need to be a master of word games but also an excellent dominoes strategist. If you possess both of these skills you have a chance at WorDomination. </p> 
<br />
<p>Even if you don’t get WorDomination you can still compare your score with the top players scores  in an 80’s style (if you remember the 80’s) Hall of Fame. Will you make it into the Hall of Fame? There’s only one way to find out: play the game!</p>
<br/>
<p>If you don’t make it into the Hall of Fame and you don’t achieve WorDomination you can still compete against yourself. The statistics section displays your average score which you can improve as you get better at the game. Of course the more you play the better you should get. If you don’t that could be worrying. </p>
<br/>
<p>Are you ready? If you'd rather read the instructions and game information first here they are:</p>
<br/>
<h2>Instructions</h2>
<br />
<p>Instructions are actually displayed in the game below the dominoes grid. But if you like instructions a lot, here are some more:</p>
<br/>
<ol>
<li class="instructLi">Click on one of the four dominoes.The more dots the domino has the harder this will be but the more points you will get. </li>
<li class="instructLi">You will see that the domino will have some dots on the left and some more dots on the right.</li>
<li class="instructLi">You will need to create one word that has the same amount of letters as dots on the left and another word with the same number of letters as dots on the right. Simple? Hopefully. </li>
<li class="instructLi">To create a word you can click on or tap on the letters that appear below the word. If you make a mistake you can select the “Redo First Word” Button. To submit the word, yes, it is the submit button. If your word has the right amount of letters and is considered valid by the(sometimes dubious) intelligence of the computer you can move on to the next word for that tile. </li>
<li class="instructLi">Once you have two valid words you have won a tile. Congratulations! You now place the domino on the grid. However you cannot just place it anywhere. The grid will only let you place a domino that has the same amount of dots on a side as the domino next to it. Or you can place your domino where there aren’t any dominoes next to it. Make sense? Hopefully. Otherwise there’s always good old trial and error. To make the game a bit easier to at least give people a slight chance at WorDomination it is also possible to rotate the domino by clicking on it. </li>
<li class="instructLi">Once you have placed the domino it’s time to repeat the process using another domino. And so on and so forth…</li>
<li class="instructLi">Are you stuck? If you can’t complete a word or place a domino you can press the “Give Up” Button. There’s no shame in it, it’s a tough game.</li> 
<li class="instructLi">If your score qualifies for the Hall of Fame you’ll be able to add your name to the score and be immortalised(at least for a while) among WorDominoes’ all time top players. This is a huge honour. </li>
</ol>

<p>...and for those people who love precision (well done if you are such a person) an inventory section has been added. Each letter tile and domino will only be used once in the game.</p>
<br/>
<h3>Dominoes</h3>
<br/>
<p><strong> Left and right values show the number of dots on each side of the tile:</strong></p>
<p>2|2, 2|3, 2|4, 2|5, 2|6, 3|2, 3|3, 3|4, 3|5, 3|6, 4|3, 4|4, 4|5, 4|6, 5|5, 5|6, 6|6</p>
</div>
<br/>
<h3>Letter Tiles</h3> 
<br/>
<p><strong>Letters with number showing how many there are:</strong></p>
<p>A – 18, B – 4, C – 4, D – 8, E – 24, F – 4, G – 6, H – 4, I – 18, J – 2, K – 2, L – 8, M – 4, N – 12, 
O – 16, P – 4, Q – 2, R – 12, S – 8. T – 12. U – 8, V – 4, W – 4, X - 2, Y - 4, Z - 2</p>
<br/>
<p><strong>Best of Luck my friend on this incredibly challenging but (possibly) highly rewarding journey.</strong> </p>
<br/>
</div>

      </div>
    </div>
  </div>
  </div>
  <div class="overallContainer">
  <div class="instruction">Follow the instructions below and fill the grid with dominoes to achieve Word Domination.</div>


    <br>

    <div class="domGridContainer">
      <div class="domGrid">
        <div class="domGrid1 domG"></div>
        <div class="domGrid2 domG"></div>
        <div class="domGrid3 domG"></div>
        <div class="domGrid4 domG"></div>
        <div class="domGrid5 domG"></div>
        <div class="domGrid6 domG"></div>
        <div class="domGrid7 domG"></div>
        <div class="domGrid8 domG"></div>
        <div class="domGrid9 domG"></div>
        <div class="domGrid10 domG"></div>
        <div class="domGrid11 domG"></div>
        <div class="domGrid12 domG"></div>

      </div>
    </div>



    <div class="domHand">
      <button class="dom1 dom"></button>
      <button class="dom2 dom"></button>
      <button class="dom3 dom"></button>
      <button class="dom4 dom"></button>
    </div>
    <!-- Change layout for the chosen domino to appear on top after both words created -->
    <div class="reverseOrder">
    <div class="instructionCenterContainer">
      <p class="instructionCenter instruct">Choose a domino above.<br> You'll create 2 words for this tile: the word length is the number of dots on its side of the domino.</p>
    </div>
    <div class="chosenDomContainer">
      <div class="chosenDom"></div>
    </div>
    </div>


    <div class="createWordGrid">
      <div class="feedback1"></div>

      <div class="word1Instruct wordInstruct"></div>

      <div class="wordText1 wordText">Select letter tiles below to make the word</div>

      <div class="buttons1 buttons" hidden>
        <button class="redo1But redo">Redo First Word</button>
        <button class="submit1 submit">Submit First Word</button>
      </div>
      <div class="feedback2"></div>

      <div class="word2Instruct wordInstruct" hidden></div>
      <div class="wordText2 wordText hidden">Select letter tiles below to make the second word</div>
      <div class="buttons2 buttons" hidden>
        <button class="redo2But redo">Redo Second Word</button>
        <button class="submit2 submit">Submit Second Word</button>
      </div>
    </div>

    <div class="handLetters" hidden>
      <div class="tile1 tile"></div>
      <div class="tile2 tile"></div>
      <div class="tile3 tile"></div>
      <div class="tile4 tile"></div>
      <div class="tile5 tile"></div>
      <div class="tile6 tile"></div>
      <div class="tile7 tile"></div>
      <div class="tile8 tile"></div>
      <div class="tile9 tile"></div>
      <div class="tile10 tile"></div>
      <div class="tile11 tile"></div>
      <div class="tile12 tile"></div>
      <div class="tile13 tile"></div>
      <div class="tile14 tile"></div>
      <div class="tile15 tile"></div>

    </div>
    <div class="hallOfFame" hidden>
      <br>
      <br>
      <p class="hallOfFameMessage">You qualify for Hall of Fame! Enter a Handle to get into the Hall of Fame and See How You Have Done Against the Others.</p>
      <br />

      <!-- Need iframe so that page doesn't refresh after form submitted-->
      <iframe name="myiframe" src="" style="display:none"></iframe>

      <form action="/router/scores" id="submitHOF" method="POST" target="myiframe">
        <label for="lname">Handle:</label>
        <input type="text" name="lname" id="lname"><br>
        <input type="number" name="score" id="score"><br>
        <button class="submitHOFBut" type="submit">Get into Hall of Fame</button>
      </form>
      <script>
        document.querySelector('.submitHOFBut')
            .addEventListener('click', (e) => {
                e.preventDefault();
                console.log('submitHOF clicked; this is JS');
    
                const lname = document.getElementById('lname').value;
                const score = document.getElementById('score').value;
    
                fetch('/scores', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify({
                        lname,
                        score,
                    }),
                })
                .then((res) => {
                    if (!res.ok) {
                        throw new Error(`HTTP error! Status: ${res.status}`);
                    }
                    return res.json();
                })
                .then((data) => {
                    console.log('Received data:', data);
                })
                .catch((error) => {
                    console.error('Fetch error:', error);
                });
            });
    </script>
      <br>
      <p class="HOFMessage" hidden>You are now in the Hall of Fame!</p>
      <br>
      <br>

    </div>

    <div class="giveUpContainer">
      <p class=scoreMessage></p>
      <button class="giveUp" hidden>Finish Game</button>
      <br>
      <br>
      <br>
    </div>
  

  <div class="HOFLink">
    <p class="seeHOF"><a href=/scores>Visit Hall Of Fame</a></p>
  </div>
</div>
</div>

  <footer>
    <div class="coffee">🖤 WorDominoes? <a href="https://ko-fi.com/fkissling">Buy Me A Coffee</a>!</div>
    <div class="copyright"> @2022 F. Kissling</div>
  </footer class="footer">

  <script  src="../control.js"></script>

</body>

</html>