<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorDominoes</title>
    <link rel="stylesheet" href="/../style.css" type="text/css"> 
</head>
<body>
    <nav>
           
        <div class = "help nav-link"><svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg></div>
        <div class = "title">
            <h1>WorDominoes</h1>
      </div>
      <div class = "stats nav-link"> <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
      </svg></div>
      
      </nav>
      <div class = "statsContent" hidden>
        <div class="close">
        <button class = "closeButtonStats" >X</button>
      </div>
        <div class = "statsText">
        <h2>WorDominoes Stats</h2><br>
        <p class = "scores">
      
        </p>
        </div>
      </div>
      <div class = "helpContent" hidden>
        <div class="close">
        <button class = "closeButtonHelp" >X</button>
      </div>
        <div class = "helpText">
        <h2>About WorDominoes</h2>
        </div>
        </div>
    <div class = "overallContainer">
      <div class = "instruction">To place a domino you need to create a word with as many letters as there are dots for each side.</div>
       <br>
     
      <div class = "domGridContainer">
        <div class = "domGrid">
          <div class = "domGrid1 domG"></div>
          <div class = "domGrid2 domG"></div>
          <div class = "domGrid3 domG"></div>
          <div class = "domGrid4 domG"></div>
          <div class = "domGrid5 domG"></div>
          <div class = "domGrid6 domG"></div>
          <div class = "domGrid7 domG"></div>
          <div class = "domGrid8 domG"></div>
          <div class = "domGrid9 domG"></div>
          <div class = "domGrid10 domG"></div>
          <div class = "domGrid11 domG"></div>
          <div class = "domGrid12 domG"></div>
     
        </div>
        </div>
  

        
        <div class = "domHand">
          <button class = "dom1 dom"></button>
          <button class = "dom2 dom"></button>
          <button class = "dom3 dom"></button>
          <button class = "dom4 dom"></button>
        </div>
        
        <p class = "presentLet">Choose a domino above. You'll create 2 words for this tile: each word needs to be the length of its  side of the domino</p>
        <br>
        <br>
        <div class = "chosenDomContainer">
          <div class = "chosenDom"></div>
        </div>

        <div class = "textSubmit">
        <div class = "feedback1"></div>
        
        <div class = "word1Instruct wordInstruct"></div>
        <div class = "wordText1 wordText" placeholder = "Select tiles below to make a word"></div>
        <div class = "buttons1" hidden>
        <button class = "redo1 redo">Redo First Word</button>
        <button class = "submit1 submit">Submit First Word</button>
        </div>
        <div class = "feedback2"></div>
   
        <div class = "word2Instruct wordInstruct" hidden>Select Tiles Below to Make the second Word</div>
        <div class = "wordText2 wordText"></div>
        <div class = "buttons2" hidden>
        <button class = "redo2 redo">Redo Second Word</button>
        <button class = "submit2 submit">Submit Second Word</button>
          </div> 
        </div>
        <div class = "handLetters" hidden>
          <div class = "tile1 tile"></div>
          <div class = "tile2 tile"></div>
          <div class = "tile3 tile"></div>
          <div class = "tile4 tile"></div>
          <div class = "tile5 tile"></div>
          <div class = "tile6 tile"></div>
          <div class = "tile7 tile"></div>
          <div class = "tile8 tile"></div>
          <div class = "tile9 tile"></div>
          <div class = "tile10 tile"></div>
          <div class = "tile11 tile"></div>
          <div class = "tile12 tile"></div>
          <div class = "tile13 tile"></div>
          <div class = "tile14 tile"></div>
          <div class = "tile15 tile"><div>
            
  </div>
        
 
  </div>
  </div>
 
  <div class = "giveUpContainer">
    <p class = scoreMessage></p>
   <button class = "giveUp">Give Up</button>
  </div>
  <br>
  <br>      
 
    <div class = "hallOfFame" hidden>
      <p class = "hallOfFameMessage">Congratulations, you made it into the Hall of Fame! Enter a Handle and See How You Have Done Against the Others.</p>
      <br>
      <br>
      <form action="/example" method="POST">
        Handle: <input type="text" name="lname" id = "lname"><br>
        <input type="hidden" name="score" id = "score"><br>     
       <button type="submit">Get into Hall of Fame</button>
      </form>
  

     </div>
 
</div>

     
                
 
<footer>
          <div class = "coffee">🖤 WorDominoes? <a href = "https://ko-fi.com/fkissling">Buy Me A Coffee</a>!</div>
          <div class = "copyright"> @2022 F. Kissling</div>
 </footer class = "footer">    
     
    <script src="../control.js"></script>

</body>
</html>
